<h2>New celebrity</h2>
<form action="/celebrities" method="POST">
  <div>
    <input type="text" name="name" placeholder="Celeb Name" />
  </div>

  <div>
    <input type="text" name="occupation" placeholder="Celeb Occupation" />
  </div>

  <div>
    <input type="text" name="catch-phrase" placeholder="Celeb Catch Prhase" />
  </div>
  
  <button type="submit">Create celebrity</button>
</form>